<!DOCTYPE html>
<html lang="" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>

</head>
<body>

<h3>导入EXCEL</h3>
<br/>
<form id="form_table" action="/import/excel" enctype="multipart/form-data" method="post">
    <input type="file" name="file"/><br/>
    <button type="submit">导入</button>
</form>
<br/>
<h3>导入图片</h3>
<form id="form_table2" action="/import/picture" enctype="multipart/form-data" method="post">
    <input type="file" name="file"/><br/>
    <button type="submit">导入</button>
</form>
<h3>Tree</h3>
<a href="tree.html">Tree</a>

<h3>密码框星号</h3>
<form id="xx" action="" enctype="multipart/form-data" method="post">
    <input type="password" name="file"/><br/>
    <button type="submit">导入</button>
</form>

</body>
</html>
